#productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tarjeta-producto {
    background-color: var(--color-segundo);
    text-align: center;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 200ms;
}

.tarjeta-producto:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    translate: 0px -5px;
}

.tarjeta-producto img {
    max-width: 100%;
    aspect-ratio: 1.5;
}

.precio {
    font-weight: 600;
}

.tarjeta-producto button {
    font-size: larger;
    background-color: var(--color-primero);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    border: unset;
    cursor: pointer;
}

.tarjeta-producto button:hover {
    font-size: larger;
    background-color: var(--color-tercero);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    border: unset;
    cursor: pointer;
}

.swal2-popup.swal2-modal.swal2-show{
    color: var(--color-segundo);
    background-color: var(--color-primero);
    border-radius: 20px;
    border: solid var(--color-tercero);
}

.swal2-checkbox{
    background-color: var(--color-primero) !important;
}

.swal2-validation-message{
    color: var(--color-segundo);
    background-color: var(--color-primero);
}

.swal2-confirm.swal2-styled{
    color: var(--color-segundo);
    background-color: var(--color-primero);
    border-radius: 10px;
    border: solid var(--color-segundo);
}

.swal2-confirm.swal2-styled:hover{
    color: var(--color-tercero);
    background-color: var(--color-segundo);
    border: solid var(--color-tercero);
}

.swal2-validation-message::before{
    color: var(--color-primero);
    background-color: var(--color-segundo);
}

main{
    padding: 15px;
}